{% extends 'base.html.twig' %}

{% block title %}Exercises for {{ muscleGroup.getName() }}{% endblock %}

{% block body %}
    <h1>Exercises for {{ muscleGroup.getName() }}</h1>

    <ul>
        {% for exercise in exercises %}
            <li>{{ exercise.name }}</li>
        {% endfor %}
    </ul>

    <a href="{{ path('index_exercise') }}">Back to Exercise List</a>
{% endblock %}
