{% extends 'base.html.twig' %}

{% block title %}List Of Users!{% endblock %}

{% block body %}

    <h1>List of Users</h1>

    <ul>
        {% for user in users %}
            <li>ID: {{ user.id }} - Email: {{ user.email }}</li>
        {% endfor %}
    </ul>

{% endblock %}
